<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.felapp.sports.football_appnew">

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" /> <!-- allows app to access Facebook app features -->
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" /> <!-- allows sharing to Messenger app -->
    </queries>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:label="FEL League"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Handles deep links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Support both HTTP and HTTPS schemes -->
                <data android:scheme="https" android:host="felsport.com" android:pathPrefix="/group"/>
                <data android:scheme="https" android:host="www.felsport.com" android:pathPrefix="/group"/>
                <data android:scheme="http" android:host="felsport.com" android:pathPrefix="/group"/>
                <data android:scheme="http" android:host="www.felsport.com" android:pathPrefix="/group"/>
            </intent-filter>

            <!-- App Links with auto verification -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="felsport.com" />
                <data android:scheme="https" android:host="www.felsport.com" /> 
                <data android:scheme="https" android:host="felsport.com" android:pathPrefix="/group"/>
                <data android:scheme="https" android:host="www.felsport.com" android:pathPrefix="/group"/>
            </intent-filter>

            <!-- Default launch intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token" />
    </application>
</manifest>
