<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004845702880-2hn3q6fmv9c7f3urbn98efqleuavk65j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004845702880-2hn3q6fmv9c7f3urbn98efqleuavk65j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004845702880-0gpi821i47ra1tq16gi223l3d6g8c5b3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNNqDnlK7ADGuPO4EMyV59uNL5QCBzvUc</string>
	<key>GCM_SENDER_ID</key>
	<string>1004845702880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fel.sports.app</string>
	<key>PROJECT_ID</key>
	<string>footballapp-ea132</string>
	<key>STORAGE_BUCKET</key>
	<string>footballapp-ea132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004845702880:ios:2d32401cae78b952803a85</string>
</dict>
</plist>
